#root {
  margin: 0;
}

.container {
  display: grid;
  grid-template-areas: 
    "photo map" 
    "photo map"
    "photo chart";
  grid-template-columns: repeat(2,minmax(0,50vw));
  grid-template-rows: minmax(0,40vh) minmax(0,20vh) minmax(0,40vh);
  max-height:100vh;

  @media (orientation: portrait){
    grid-template-areas:
      "photo photo"
      "map map"
      "chart chart";
    grid-template-rows: minmax(0,60vh) minmax(0,20vh) minmax(0,20vh);
  }
}

.image {
  grid-area: photo;
  overflow:scroll;

  img {
    width: 100%;
    height: auto;
  }
}

.map {
  grid-area: map;
}

.chart {
  grid-area: chart;
}

.infoWindow {
  color: black;
}