#root {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
}

.image {
  flex: 1 1 0;
}

img {
  width: 100%;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.map {
  flex: 2 1 0;
}

.chart {
  flex: 1 1 0;
}